body {
    background: rgb(255, 177, 82);
    background: linear-gradient(90deg, rgba(255, 177, 82, 1) 0%, rgba(255, 205, 144, 1) 100%);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.registerContainer {
    display: flex;
    padding-top: 10vh;
    flex-direction: column;
    width: 256px;
}

.logo {
    width: 256px;
    padding-bottom: 10px;
}

label {
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
select {
    width: 100%;
    padding: 10px 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 100%;
    padding: 10px 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.errorInput {
    text-align: left;
    color: rgb(255, 29, 29);
    font-size: x-small;
    margin: 0
}

.errorMessage {
    text-align: center;
    color: rgb(255, 29, 29);
    font-size: small;
    margin: 0
}

input.confirmRegisterButton {
    font-size: larger;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #FD7B03;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.confirmRegisterButton:hover {
    background-color: #FFF4DF;
}

.returnLoginMessage {
    text-align: center;
    font-size: small;
    margin: 0
}