.pointMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    z-index: 1000;
    overflow-y: auto;
    padding-bottom: 100px;
}

.pointMenuContainer {
    position: relative;
    max-width: 300px;
    width: 100%;
    flex-grow: 0;
}

.pointMenuHeader {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pointMenuHeader img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    max-height: 400px;
    object-fit: cover;
}

.pointMenuContent {
    position: relative;
    background: white;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 5vh;
}

.closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
}

.closeButton:hover {
    background-color: #e04e4e;
}

/* .deleteButton {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 0;
} */

.deleteButton:hover {
    background-color: #ff4040;
}

.pointMenuHeader h3 {
    text-align: center;
    margin: 5px;
}

.pointMenuCheckInField {
    margin-top: 10px;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background-color: #DFDFDF;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pointMenuCheckInField button {
    margin-left: auto;
    margin-right: 20px;
    float: right;
    height: 80%;
    min-width: 80px;
    max-width: 100px;
    border-radius: 10px;
    border-color: #FD7B03;
    background-color: #FD7B03;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.deleteButton {
    padding: 10px;
    width: 100%;
    background-color: #FD7B03;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #FFa652;
}

.pointMenuCheckInField button:hover {
    cursor: pointer;
    background-color: #FFa652;
}

.pointMenuCheckInField h3 {
    margin: 10px;
}