.expandedMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expandedMenuIconContainer {
    position: relative; 
    text-align: center;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}